# Deployment of DySTrack docs to GitHub pages

name: DYSTRACK DOCS

on: [push, pull_request, workflow_dispatch]

permissions:
  contents: write

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:

    # Setup
    - uses: actions/checkout@v4
    - name: Set up Python 3.13
      uses: actions/setup-python@v5
      with:
        python-version: "3.13"
    - name: Install dependencies
      run: |
        pip install sphinx nbsphinx pydata-sphinx-theme sphinx-toolbox
        #pip install sphinx sphinx_rtd_theme myst_parser

    # Build
    - name: Sphinx build
      run: |
        sphinx-build docs _build

    # Deploy
    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
      with:
        publish_branch: docs-gh-pages
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: _build/
        force_orphan: true