# Continuous Integration workflow for DySTrack
# On a push or on creation of a pull request to to branches main or ci_dev, 
# this workflow will install python and DySTrack (along with dependencies) and 
# run black, isort, and pytest. This is currently run once for all supported
# python versions and only on Windows 11 (since running things on Windows 10 is
# not supported by GitHub, even though DySTrack does for now support it).

name: DYSTRACK CI

on:
  push:
    branches: ["main", "ci_dev"]
  pull_request:
    branches: ["main", "ci_dev"]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest]
        #python-version: ["3.10", "3.14"]
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        
    # Setup
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install ".[full]"

    # Code formatting
    # TODO: When dropping python 3.10 support, add an extend-exclude kwarg to
    # pyproject.toml that stops black (and isort?) from looking at folders we 
    # do not want them to check, so they do not need to be specified here (and
    # will also apply to local runs of black). For now, this is not possible as
    # support for use_pyproject is only available for python>3.11.
    - name: Code formatting with black
      if: success() || failure()
      uses: psf/black@stable
      with:
        src: "./src ./tests"
        #use_pyproject: true  # Requires python 3.11 or higher
    - name: Code formatting with isort
      if: success() || failure()
      run: |
        isort --check-only --diff ./src ./tests
      # Note: Using the isort action fails for some obscure reason...
      #uses: isort/isort-action@v1
      #with:
      #  sort-paths: "./src ./tests"

    # Testing
    - name: Test with pytest
      if: success() || failure()
      run: |
        pytest
    # TODO: Would be nice to have a good way of reporting the outcome of each
    # test (as well as black and isort) in a report that gets automatically
    # generated and posted on the PR. Seems like there's several tools for 
    # doing this, but they don't seem to do exactly what I want, nor are they 
    # straightforward. This is low-priority for now.